.menu-item {
    padding: 1rem .4rem 1rem .4rem;
    border-left: 2px solid #ffffff;
    border-right: 2px solid transparent;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
}
.nav-item-action {
    text-decoration: none;
}
.menu-item .left {
    display: flex;
    align-items: center;
}
.menu-item {
    color: #444444;
}
.submenus {
    color: #666666;
}
.menu-item .left .col-item {
    display: inline-block;
    height: 100%;
}
.menu-item .left .col-item .icon {
    font-size: 24px;
}
.menu-item .left .col-item .sub-option {
    font-size: 18px;
}
.menu-item .left {
    width: 100%;
    display: flex;
    align-items: center;
}
.menu-item .justify-center {
    justify-content: center;
}
.menu-item .left .col-item .active {
    color: #324f80;
}
.menu-item .left .col-item .label {
    font-size: 14px;
    margin-left: 5px;
}
.menu-item .col-item .to-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item:hover {
    background-color: #f7f7f780;
    cursor: pointer;
    border-left-width: 2px;
    border-left-color: #324f80;
    color: #324f80;
    border-left-style: solid;
}
.menu-item-active {
    background-color: #f7f7f780;
    border-left-width: 2px;
    border-left-color: #324f80;
    color: #324f80;
    border-left-style: solid;
}
.submenus {
    background-color: #f2f2f2;
}
.submenus .menu-item {
    border-bottom: solid 1px #d1d1d1;
    padding-left: 1rem;
}

@media screen and (max-width: 1200px) {
    .menu-item .left .col-item .label {
        font-size: 12px;
    }
    .menu-item .left .col-item .icon {
        font-size: 18px;
    }
}